PORT=3002
MONGODB_URL=mongodb://localhost:27017/shopping
TOKEN_SECRET=replace_with_secure_secret
GOOGLE_CLIENT_ID=your_google_client_id

SMPTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=noreply.trendybloom@daone.in

APP_URL=http://localhost:3000


