PORT=3002
MONGODB_URL=mongodb://localhost:27017/shopping
TOKEN_SECRET=replace_with_secure_secret
GOOGLE_CLIENT_ID=your_google_client_id
SMPT_USERNAME=your_smtp_username
SMPT_PASSWORD=your_smtp_password
APP_URL=http://localhost:3000


